.example-container mat-form-field + mat-form-field {
    margin-left: 8px;
  }

  .pass{
    margin-top: 10px;
  }

  .example-container{
margin-top: 100px;
  }

  // .card {
  //   margin-top: 50px;
  //   border-radius: 10px;
  // }
  .card {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 8px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 20px;
  }



  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  @keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
  }

  @keyframes slideOut {
    0% { transform: translateX(0); }
    100% { transform: translateX(100%); }
  }

  @keyframes slideIn {
    0% { transform: translateX(100%); }
    100% { transform: translateX(0); }
  }

  .fadeInOut {
    animation: fadeIn 0.3s ease-in-out, fadeOut 0.3s ease-in-out;
  }
  .slideInOut {
    animation: slideIn 0.3s ease-in-out, slideOut 0.3s ease-in-out;
  }