<div class="container-fluid g-0 fulldiv">
  <div class="row justify-content-center">
    <div class="col-md-3 ">
      <!-- <div class="card card1"> -->
        <div class="formdiv ">

          <form>
            <div class="form-group mb-2">
              <label for="title">Company</label>
              <input type="text" class="form-control" id="title" [(ngModel)]="title" name="title">
            </div>
            <div class="form-group mb-2">
              <label for="tagline">Tagline</label>
              <input type="text" class="form-control" id="tagline" [(ngModel)]="tagline" name="tagline">
            </div>
            <div class="form-group mb-2">
              <label for="name">Name</label>
              <input type="text" class="form-control" id="name" [(ngModel)]="name" name="name">
            </div>
            <div class="form-group mb-2">
              <label for="role">Disignation</label>
              <input type="text" class="form-control" id="role" [(ngModel)]="role" name="role">
            </div>
            <div class="form-group mb-2">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="email" name="email">
            </div>
            <div class="form-group mb-2">
              <label for="phone">Phone number</label>
              <input type="tel" class="form-control" id="phone" [(ngModel)]="phone" name="phone">
            </div>
            <div class="form-group mb-2">
              <label for="address">Address</label>
              <textarea class="form-control" id="address" rows="3" [(ngModel)]="address" name="address"></textarea>
            </div>

            <input type="file" (change)="onFileSelected($event)" name="filename2" class="mt-4">

          

          </form>
        </div>
      <!-- </div> -->

    </div>

    <div class="col-md-9  ">

      <div class="card second-card " id="mycard" #mycard>
        <h1 class="text-center h1-title fw-bold fs-4 mb-0">{{title}}  </h1>
        <span class="text-center" style="color: #FF6600;">{{tagline}}</span>
        <!-- <h4 class="text-center h1-title mt-0">{{tagline}}</h4> -->
        <div class="card-body">
         
            
              <img [src]="previewImage" *ngIf="previewImage" alt="Your Logo" class="rounded-circle business-card-image " >
            
            <div class="text-center">
              <h2 class="card-title custom-font mb-0">{{ name }}</h2>
              <span class="mt-0">{{ role }}</span>
              <div class="pt-3">
              <p class="card-text custom-font "><i class="bi bi-envelope-at icons mx-1"></i>{{ email }}</p>
              <p class="card-text  custom-font"><i class="bi bi-telephone icons mx-1"></i>{{ phone }}</p>
              <p class="card-text  custom-font"><i class="bi bi-person-vcard-fill icons mx-1"></i>{{ address }}</p>
            </div>
            </div>
            
          </div>
          <div class="card-footer w-100 text-center " style="background-color:#FF6600;">
          motivitylabs.com
          </div>

        </div>
        <div class="d-flex justify-content-center">
          <button class="button text-white" (click)="downloadAsPDF()">download Card</button>
        </div>
      </div>
      
    </div>
  </div>    